*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

main{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: block;
    justify-content: center;
    align-items: center;
}

.div1{
    padding: 80px;
    padding-top: 40px;
    width: 100%;
    height: 844px;
    background-color: #d3d2d3;
    display: flex;
    position: relative;
    font-size: 20px;
}

.btns_1{
    display: inline;
    position: absolute;
    right: 40px;
}

.btns_1 button{
    font-size: 20px;
    height: 40px;
    width: 80px;
    border: none;
    background-color: #d3d2d3;
}

.texto_1{
    width: 420px;
    position: absolute;
    top:150px;
    font-size: 60px;
    display: flex;
}


.negritas{
    position: absolute;
    font-weight: bold;
    top: 67px;
    right: 0;
}

.n{
    position: absolute;
    top: 265px;
    right: 3px;
}

.img_1{
    position: absolute;
    width: 55%;
    height: 80%;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_1 img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


.div2{
    padding: 80px;
    padding-top: 40px;
    width: 100%;
    height: 844px;
    background-color: #fffefe;
    display: flex;
    position: relative;
    font-size: 20px;
}

.btns_2{
    display: inline;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: #a9a8a9;
}

.btns_2 button{
    font-size: 35px;
    height: 70px;
    width: 260px;
    border: none;
    background-color: #fffefe;
}

.img_2{
    position: absolute;
    width: 40%;
    height: 80%;
    bottom: 0px;
    left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_2 img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.texto_2{
    width: 600px;
    height: 450px;
    position: absolute;
    bottom: 115px;
    right: 70px;
    display: flex;
    background-color: #fffefe;
}

.texto_2 h1{
    position: absolute;
    left: 40px;
    color: #040505;
    width: 550px;
    height: 50px;
}

.precio{
    position: absolute;
    top: 70px;
    left: 55px;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
}

.precio img{
    width: 160px;
    height: 35px;
}

.precio label{
    position: absolute;
    right: 30px;
}

.texto_2 p{
    position: absolute;
    top: 140px;
    left: 60px;
    font-size: 23px;
    width: 450px;
    height: 50px;
}

.botones_2{
    background-color: #352117;
    position: absolute;
    border-radius: 15px;
    bottom:20px;
    left: 50px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mas_menos{
    background-color: #352117;
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

.separador{
    width: 4px;
    height: 15px;
    background-color: white;
}

.texto_2_button{
    background-color: #dda56a;
    color: white;
    font-weight: bold;
    position: absolute;
    border-radius: 15px;
    border: none;
    bottom: 20px;
    right: 60px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}


